
.logo {
    font-family:'Daft Font';
    font-weight: bold;
    color: white;
    font-size: 8em;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin:0;
}

.lexend> {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style:var('Bold 700');
}

.logo p {
    font-family: 'Lexend';
    font-size: 0.3em;
}

body {
    margin:auto;
    background:black;
    text-align: center;
    color:antiquewhite;
}