@font-face {
    font-family: 'Daft Font';
    src: url('DaftFont.eot');
    src: url('DaftFont.eot?#iefix') format('embedded-opentype'),
        url('DaftFont.woff2') format('woff2'),
        url('DaftFont.woff') format('woff'),
        url('DaftFont.ttf') format('truetype'),
        url('DaftFont.svg#DaftFont') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

